@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;1,700&family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--main-bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}


:root {
    --main-bg-color: #d6dce1;
    --header-bg-color: rgba(63,94,251,1);
    --cards-bg-color: #87bdd8;
    --buttons-color: #fc466b;
    --gradient-one: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    --gradient-two: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    --gradient-three: linear-gradient(90deg, rgba(112,87,214,1) 0%, rgba(128,85,202,1) 50%, rgba(146,83,188,1) 100%);
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.main-header{
    background-color: var(--header-bg-color);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header i {
  font-size: 1.8rem;
  color: var(--main-bg-color);
}

.main-content{
    background-color: var(--main-bg-color);
    /* background-image: url("images/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover; */
    /* background: linear-gradient(#141e30, #243b55,#273b51 ); */
    width: 100%;
    height: 82%;
    display: grid;
    grid-template-rows: auto 60px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.header-text{
    /* width: 90%; */
    font-size: 4rem;
    letter-spacing: 10px;
    font-style: italic;
    /* font-weight: 700; */
    margin-left: 4px;
    font-family: 'Lobster', cursive;
    color: var(--main-bg-color);
}



.book-cards{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    /* grid-template-rows: 1fr; */
}


.card{
    width: 200px;
    height: 250px;
    border: none;
    border-radius: 3%;
    background-color: var(--header-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
}


.card p {
    color: var(--main-bg-color)
}

.card p:nth-child(2n + 1){
  font-weight: 700;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--main-bg-color);
  width: 90%;
  padding-bottom: 8px;
}

.card button:first-of-type{
  width: 90%;
  padding: 2px;
  height: 2rem;
  border: none;
  font-size: 1rem;
  
  color: var(--main-bg-color);
}

.card .read-color{
  background-color: rgba(57, 121, 41, 0.4);
}

.card .not-read-color{
  background-color: rgba(206, 199, 199, 0.4);
}

#deleteButton {
    border: none;
    width: 30%;
    /* height: 24px; */
    font-size: 1.7rem;
    background-color: transparent;
    color: var(--main-bg-color);
    transition: all 0.25s ease;
}

#deleteButton:hover{
    transform: scale(1.1);
    color: #df4759;
    cursor: pointer;
}

.add-book{
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-self: flex-end;
    margin: 12px;
    background-color: var(--buttons-color);
    /* background-image: var(--gradient-two); */
    font-size: 1.8rem;
    color: var(--main-bg-color);
    transition: all 0.25s ease;
}

#addBook:hover{
  transform: rotate(90deg) scale(1.1);
  cursor: pointer;
}


.book-submit{
    width: 22%;
    min-width: 280px;
    height: 350px;
    display: none; 
    position: absolute;
    border: none;
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: var(--gradient-three);
    top: 35%;
    padding: 12px;
    left: 39%;
    /* grid-template-rows: repeat(1, 1fr); */
    /* font-size: 1.2rem; */
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: var(--main-bg-color);
}

.book-submit .new-book{
    position: relative;
    margin-top: 18px;
}

.book-submit .new-book input{ 
    width: 100%;
    padding: 10px 0 5px 0;
    font-size: 1.1rem;
    color: var(--main-bg-color);
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--main-bg-color);
    outline: none;
    background: transparent;
    
}

.book-submit .new-book label{
    position: absolute;
    top: -20px;
    left: 0;
    padding-top: 10px;
    /* font-size: 1.3rem; */
    color: var(--main-bg-color);
    pointer-events: none;
    transition: .5s;
    font-weight: 700;
}

#bookAuthor, #bookTitle {
  color: var(--main-bg-color);
}

.book-submit .new-book input:focus ~label,
.book-submit .new-book input:valid ~label{
    /* top: -20px; */
    left: 0;
    background: transparent;
     /* font-size: 12px;  */
}

.form-text{
  text-align: center;
}

.big-text{
  font-size: 1.8rem;
  font-weight: 700;
}

.lower-part-form{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.include-book{
  background-color: rgba(146,83,188,1);
  padding: 4px;
  margin-right: 8px;
  border: 2px solid var(--main-bg-color);
  /* border-radius: 30%; */
  color: var(--main-bg-color);
  /* opacity: 0.7; */
  font-weight: 700;
  letter-spacing: 3px;
  transition: all 0.05s ease;
}

#includeBook:hover{
  transform: scale(1.1);
  background: rgba(112,87,214,1);
  cursor: pointer;  
}

.read-not-read-select{
  border-bottom: 2px solid var(--main-bg-color);
  font-style: italic;
}


.footer{
    background-image: var(--gradient-one);
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-bg-color);
}

.fa-github {
  margin: 12px;
  color: var(--main-bg-color);
  font-size: 18px;
}

/* toggle switch */


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #397929;
    background: rgba(112,87,214,1);
    border: 2px solid var(--main-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* input:checked + .slider {
    background: #878888;
  } */
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }